# FastAPI
fastapi
uvicorn

# Environment Variables
python-dotenv

# LangChain Core
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq

# PDF Processing
pypdf
pymupdf
pdfminer.six

# Embeddings (lightweight - no torch!)
fastembed

# Vector Store
chromadb

# YouTube Transcript & Audio Processing
youtube-transcript-api
yt-dlp
groq
static-ffmpeg

# File Upload
python-multipart